header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
	align-items: center;
	text-align: center;
	padding: 3rem 0 0.5rem 0;
}
header h1 {
	font-size: 6rem;
	letter-spacing: 3.5px;
	transition: all 800ms ease;
}
header h1:hover {
	color: var(--logo-clr);
}
header p {
	font-family: 'Cormorant Garamond', serif;
	color: var(--lght-clr);
	font-weight: bold;
	font-size: 2rem;
}

#date {
	color: var(--lght-clr);
	font-family: 'Vesper Libre', serif;
	font-size: 30px;
	flex-wrap: wrap;
}

#sun {
	padding: 25px;
}

main {
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

body {
	position: relative;
}

/* Class to add on elements if any modals are showing  */
.blur {
	filter: blur(8px);
}

/* Modal Styling Section  */
.modal-container {
	display: flex;
	justify-content: center;
}

.container-choices {
	padding: 1rem;
}

.select-dropdown {
	height: auto;
	overflow-y: auto;
	color: black;
}
.input-field {
	background-color: rgba(255, 255, 255, 0.712);
	margin: 0 0;
	padding: 0 0.8rem;
}
.input-field .col {
	padding: 0.5rem;
}
.input-field label {
	font-size: 1.2rem;
	font-weight: bold;
	transform: translateY(-0.1px);
	color: #fff;
}
.input-field.col label {
	left: 5px;
	top: 20px;
}
.input-field ul {
	height: auto;
}
.input-field .selected {
	max-height: 60px;
	padding: 0.2rem;
}
.input-field span {
	color: black;
}

.dropdown-trigger {
	text-align: start;
}

.container-modal-btn {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#formRemove {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 75%;
	height: auto;
	justify-self: center;
	align-self: center;
}

.explainRemove {
	width: auto;
	padding: 0.2rem;
	font-size: 2rem;
	color: white;
	background-color: var(--modal-bg-text);
	border-radius: 8px;
}

form #textareaRemove {
	padding: 0rem 0;
	outline: none;
	border-bottom: none;
	margin: 0 0 0 0;
}

#textareaRemove::placeholder {
	color: rgb(104, 104, 104);
}

form .labelRemove {
	color: #111;
}

.drink-container {
	position: relative;
	width: 100%;
	padding: 1rem;
	margin: 1.5rem auto;
	border-radius: 10px;
}

.drink-container .input-box-wrapper {
	position: relative;
}

.input-box-wrapper .drink-box {
	display: flex;
	align-items: center;
	padding: 0.4rem;
	background-color: rgba(255, 255, 255, 0.712);
}

.input-box-wrapper .drink-box:hover {
	background-color: rgba(255, 255, 255, 0.822);
}

.input-box-wrapper .drink-box span {
	font-size: 1.2rem;
	color: rgb(0, 0, 0) !important;
	font-family: sans-serif;
	margin-left: 0.5rem;
}

#user-drink-values {
	background-color: var(--modal-bg-text);
	font-size: 1.5rem;
	margin-top: 1rem;
}

/* The Modal  */

.modal-Intro {
	/* when modal on/off change from flex to none  */
	display: flex;
	position: absolute;
	height: auto;
	/* z-index: 5; */
	flex-direction: column;
	top: 150px;
	padding: 2.5rem 1.5rem;
	gap: 0.5rem;
	text-align: center;
	min-width: 750px;
	max-width: 80%;
	/* justify-content: center; */
	/* align-items: center; */
	border-radius: 20px;
	border: 8px solid rgb(5, 3, 0);
	box-shadow: inset 1px 1px 8px rgb(0, 0, 0);
	background-image: url('../images/backgrounds/woodmodal.jpg');
	background-size: cover;
	filter: blur(0px);
	box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
		rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

/* each modal  */
.modal-welcome {
	z-index: 6;
	gap: 4rem;
}
.modal-food {
	z-index: 5;
}
.modal-drink {
	z-index: 4;
}

/* each modal content  */
.modalText {
	color: white;
	font-size: 4rem;
	padding: 10px;
}

.modalP {
	color: white;
	padding: 1rem 2rem;
	border-radius: 6px;
	font-size: 1.8rem;
	font-weight: bolder;
	text-align: center;
	background-color: var(--modal-bg-text);
}

/* This is the next button styles  */
.next {
	align-items: center;
	background-color: #6b3400;
	border: 2px solid rgb(255, 203, 154);
	border-radius: 8px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: flex;
	font-family: sans-serif;
	font-size: 16px;
	height: 48px;
	justify-content: center;
	line-height: 24px;
	/* max-width: 100%; */
	width: 100px;
	padding: 25px;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	/* margin: auto; */
}

.next:after {
	background-color: #111;
	border-radius: 8px;
	content: '';
	display: block;
	height: 48px;
	left: 0;
	width: 100%;
	position: absolute;
	top: -2px;
	transform: translate(12px, 12px);
	transition: transform 200ms ease-out;
	z-index: -1;
}

.next:hover:after {
	transform: translate(0, 0);
}

.next:focus {
	background-color: #6b3400;
}

.next:hover {
	outline: 0;
	background-color: #ad5400;
}

.next:active {
	background-color: #ff8b1f;
	outline: 0;
}

.dashboard {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
	padding: 4rem 0;
}

.row > .col {
	padding: 0.5rem;
}

body .container .box h5 {
	font-size: 2.5rem;
}

.dashboard h5 {
	height: 100%;
	display: flex;
	gap: 1rem;
	justify-content: center;
	margin: 2rem 0;
}

.container .user-fav h2 {
	margin: 3rem 0;
	margin-top: 6rem;
	text-align: center;
}
.dashboard .col {
	padding: 0.8rem 0;
}
.card-container {
	display: flex;
	flex-wrap: wrap;
	padding: 0.5rem;
	justify-content: center;
}
/* drinks container scroll bar  */
/* #drinks .card-container {
	overflow-y: scroll;
	max-height: 500px;
} */
#drinks .card-container::-webkit-scrollbar {
	width: 5px;
}
#drinks .card-container::-webkit-scrollbar-track {
	background-color: rgb(255, 255, 255);
}
#drinks .card-container::-webkit-scrollbar-thumb {
	background-color: rgb(0, 0, 0);
}
/* drinks cards and imgs  */
.card-container .card .activator {
	min-height: 50%;
	max-height: 215px;
}
.card p {
	color: black;
}
.card a {
	color: rgb(3, 0, 163);
}
.card-container .card {
	min-width: 280px;
	max-width: 280px;
	background-color: rgba(246, 247, 249, 0.943);
	margin: 1rem;
}

/* Favorite Section Styles  */
.user-fav {
	padding-bottom: 5rem;
}
.user-fav .card-container {
	display: flex;
	flex-direction: row;
}
.user-fav .card {
	min-width: 280px;
	max-width: 280px;
}
.user-fav .card-container .card {
	position: relative;
}
.user-fav .card-container .card::after {
	position: absolute;
	text-align: center;
	justify-content: center;
	padding: 6.5px;

	content: 'X';
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid rgb(254, 254, 254);
	background-color: rgba(255, 0, 0, 0.819);
	top: -10px;
	right: -10px;
	z-index: 2;
}
/* footer section  */

footer {
	/* change footer from flex to none  */
	display: flex;
	background-color: var(--drk-clr);
	min-height: 25vh;
	padding: 3.5rem 0;
	justify-content: center;
}

footer .logo {
	font-size: 1.8rem;
}

footer a {
	text-decoration: none;
	font-size: 1.3rem;
}

footer ul {
	flex-direction: column;
}

footer li a {
	transition: all 300ms ease;
	color: var(--lght-clr);
}

footer li a:hover {
	color: var(--logo-clr);
}

footer h3 {
	padding-top: 5px;
}

footer .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

#materialize-logo {
	width: 100px;
	height: 50px;
	margin-top: 5px;
}

/* Hidden Section (Selected items)  */

.recipe-summary {
	font-size: 16px;
}

.recipe-summary a {
	cursor: default;
	pointer-events: none;
	text-decoration: none;
	color: black;
}

.confirm-food {
	margin: 10px;
	width: 100%;
	cursor: pointer;
	margin-left: 0px;
	font-size: 16px;
}

.select-recipe {
	color: black;
}
.user-selected .col {
	padding: 1rem;
}
.user-selected h5 {
	text-align: center;
	margin: 2rem 0;
}
.user-selected .box .row .selected h5 {
	font-size: 1.8rem;
	letter-spacing: 2px;
	font-weight: bold;
	text-decoration: underline;
}
.selected {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--drk-selected);
	border-radius: 8px;
	padding: 1.5rem;
}
.selected img {
	max-width: 490px;
	max-height: 310px;
}
.selected > p {
	font-size: 1.5rem;
}
.sects {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0.5rem;
	padding: 1.5rem;
	font-size: 1.4rem;
}
.sects span {
	font-weight: bold;
	font-size: 1.8rem;
	margin: 0.8rem 0;
}
.sects ul {
	display: flex;
	flex-direction: column;
	text-align: start;
	font-size: 1.5rem;
}
.sects ul li {
	margin: 0.3rem 0;
}

/* hidden is down hear is it can hide all the elements  */
.hidden {
	display: none;
}

/* Few media queries  */

/* tablets  */
@media screen and (max-width: 772px) {
	/* tablet navbar  */
	#navbar {
		height: 8vh;
	}

	#navbar .logo {
		font-size: 1.8rem;
	}

	#date {
		font-size: 1.5rem;
		margin-top: 7px;
	}

	#themeBtn {
		font-size: 2.2rem;
	}

	header h1 {
		font-size: 4rem;
	}

	#subTitle {
		font-size: 1.6rem;
	}

	/* tablet user selection  */
	.user-selected .box .row .selected h5 {
		font-size: 2.3rem;
	}

	.selected > p {
		font-size: 1.5rem;
	}

	.sects span {
		font-size: 2.2rem;
	}

	.sects ul {
		font-size: 1.9rem;
	}

	.sects ol {
		font-size: 1.9rem;
	}

	/* tablet favorite section  */
	h5 {
		justify-content: center;
	}

	.card-container {
		justify-content: space-evenly;
	}

	/* footer section  */
	footer {
		flex-wrap: wrap;
	}

	footer .logo {
		font-size: 2rem;
	}

	footer a {
		font-size: 1.7rem;
	}

	footer .container {
		margin-bottom: 3rem;
	}
}

/* phones  */
@media screen and (max-width: 500px) {
	/* mobile navbar  */
	#navbar {
		align-items: center;
		justify-content: space-evenly;
		padding: 0 0.6rem;
		height: 10vh;
		gap: 1.3rem;
	}

	#navbar .logo {
		font-size: 1.5rem;
	}

	#themeBtn {
		font-size: 1.5rem;
	}

	#date {
		font-size: 1.2rem;
		flex-wrap: wrap;
		line-height: 5rem;
	}

	#sun {
		padding: 0;
		font-size: 1.2rem;
	}

	/* mobile title  */
	header {
		padding: 2rem 1rem 0.2rem 1rem;
	}

	header h1 {
		font-size: 3rem;
	}

	#subTitle {
		font-size: 1.3rem;
	}

	/* mobile main section  */
	main {
		width: 100vw;
		justify-content: center;
		align-items: center;
	}

	.box {
		max-width: 330px;
		justify-content: center;
		align-items: center;
	}

	.dashboard .col {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.card-container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	/* user selection box  */
	#user-selected {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#user-selected h5 {
		font-size: 1.8rem;
	}

	#user-selected .box .row .selected h5 {
		font-size: 1.5rem;
	}

	#user-selected span {
		font-size: 1.3rem;
	}

	.selected > p {
		font-size: 1rem;
	}

	.sects ul {
		font-size: 1.3rem;
	}

	.sects ol {
		font-size: 1.3rem;
	}

	/* favorite section  */
	h2 {
		font-size: 2.5rem;
	}

	.user-fav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	/* increase footer text  */
	footer .logo {
		font-size: 1.4rem;
	}

	footer a {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 798px) {
	.modal-Intro {
		min-width: 200px;
		max-height: 80vh;
		overflow-y: auto;
	}

	.modal-drink {
		min-width: 200px;
		overflow: auto;
	}
}

@media screen and (max-width: 590px) {
	#date {
		font-size: 20px;
	}
}

@media screen and (max-width: 400px) {
	#date {
		font-size: 15px;
	}
}

/* animations  */

/* class to toggle with that has animations  */
.slide-out {
	animation: slideLeft 1000ms;
}
.slide-down {
	animation: slideDown 875ms;
}

@keyframes slideLeft {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(100px);
	}
	100% {
		transform: translateX(-2000px);
	}
}

@keyframes slideDown {
	0% {
		transform: translateY(-111px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes title {
	0% {
		font-size: 90%;
	}
	25% {
		font-size: 90%;
	}
	50% {
		font-size: 85%;
	}
	75% {
		font-size: 60%;
	}
	100% {
		font-size: 20%;
	}
}
